<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Ingresso Cinema Mais</title>
  </head>
  <style></style>
  <body
    style="
      width: 100%;
      height: 100%;
      background: #ffffff;
      margin: 0;
      padding: 0;
      border: 0;
      box-sizing: border-box;
      outline: none;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    "
  >
    <table
      style="
        margin: 0 auto;
        padding: 32px 34px 56px;
        max-width: 600px;
        height: 784px;
        background: #f0f0f5;
        border-radius: 15px;
        text-align: left;
      "
    >
      <tr>
        <th style="background: #001917; border-radius: 40px">
          <div style="text-align: center; margin-top: -50px"></div>

          <div style="text-align: center; margin-top: 66px; padding: 0 36px">
            <span
              style="
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 27px;
                color: #ffffff;
              "
            >
              Olá, <strong>{{customer.name}}</strong>!
            <br />
            <div style="margin-top: 30px">
              <span
                style="
                  font-style: normal;
                  font-weight: normal;
                  font-size: 14px;
                  line-height: 27px;
                  text-align: center;
                  color: #ffffff;
                "
              >
                Seu ingresso, no valor de R$ {{price}}, foi comprado com sucesso!<br/>
                A sessão do seu filme <strong>{{session.movie.title}}</strong> iniciará às <strong>{{session.time}}</strong>. A equipe Cinema Mais, deseja um ótimo filme!              </span>
            </div>
            <div style="margin-top: 30px">
              <span
                style="
                  font-style: normal;
                  font-weight: normal;
                  font-size: 14px;
                  line-height: 27px;
                  text-align: center;
                  color: #ffffff;
                "
              >
                Perguntas? Envie um e-mail para<br /><b> pas@uneb.br</b>
              </span>
            </div>
            <div
              style="
                margin-top: 30px;
                background: linear-gradient(
                  269.79deg,
                  rgba(220, 220, 224, 0) 0.91%,
                  #dcdce0 51.49%,
                  rgba(220, 220, 224, 0) 100%
                );
                opacity: 0.7;
                height: 1px;
              "
            ></div>
            <div style="margin: 30px 0">
              <span
                style="
                  font-style: normal;
                  font-weight: normal;
                  font-size: 14px;
                  line-height: 21px;
                  text-align: center;
                  color: #ffffff;

                  opacity: 0.8;
                "
              >
                Qualquer dúvida, estamos à disposição. <br />Um abraço, Equipe
                PAS
              </span>
            </div>
          </div>
        </th>
      </tr>
      <tr>
        <td align="center" style="padding: 56px 0 16px">
          <a href={{cancelLink}}>
            <span
            style="
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 21px;
              text-align: center;
              text-decoration-line: underline;
              color: #8c8c8f;
              opacity: 0.8;
            "
            >Cancelar Ingresso</span
          ></a>
          </div>
        </td>
      </tr>
    </table>
  </body>
</html>
